* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header #logo {
  width: 200px;
}

header {
  background-color: #000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-right {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style-type: none;
}

.menu li {
  padding: 12px;
}

.menu a {
  text-decoration: none;
  font-size: 17px;
  color: darkred;
}
.book {
  text-align: center;
  padding: 15px;
  display: none;
}

.book h2 {
  padding: 10px;
}
.book img {
  width: 300px;
}

#hamburger {
  display: none;
  padding: 15px;
}

#hamburger span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: darkred;
  margin: 3px;
}

.menu a.white {
  color: #fff;
}

.menu a.yellow {
  color: yellow;
}

.menu a.green {
  color: darkgreen;
}

.menu a.orange {
  color: darkorange;
}

.menu a.blue {
  color: lightblue;
}

.menu-h {
  list-style-type: none;
  height: 100%;
}

.menu-h img{
  width: 250px;
  display: none;
}

.menu-h li {
  padding: 20px;
}

.menu-h a {
  text-decoration: none;
  display: block;
  color: #fff;
}

.hamburger-menu {
  display: none;
}

.img-container-1 {
  height: calc(100vh - 58.9333px);
  background: url(img/got1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.img-container-2 {
  height: calc(100vh - 58.9333px);
  background: url(img/got2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.img-container-3 {
  height: calc(100vh - 58.9333px);
  background: url(img/got3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.img-container-4 {
  height: calc(100vh - 58.9333px);
  background: url(img/got4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.img-container-5 {
  height: calc(100vh - 58.9333px);
  background: url(img/got5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}



@media screen and (max-width: 991px) {
  #hamburger {
    display: block;
  }
  .menu {
    display: none;
  }

}
